<!-- <p>test works!</p>
<div class="dashboard-container">
    <p-menubar [model]="items"></p-menubar>
  
    <div class="dashboard-content">
      <div class="dashboard-header">
        <h1>Dashboard</h1>
      </div>
  
      <div class="dashboard-body">
        <div class="dashboard-section">
          <h2>CreditInfo New</h2>
          <p-calendar [(ngModel)]="date" dateFormat="dd/mm/yy" showButtonBar></p-calendar>
          <p-dropdown options= "cities" [(ngModel)]="selectedCity" placeholder="Select City" optionLabel="name"></p-dropdown>
          <button pButton label="Search" type="button"></button>
        </div>
  
        <div class="dashboard-section">
          <h2>Credit Line Info</h2>
          <p-chart type="bar" [data]="creditLineData"></p-chart>
        </div>
  
        <div class="dashboard-section">
          <h2>Total Credit Line ₹ 0</h2>
          <p-chart type="doughnut" [data]="creditLineData"></p-chart>
        </div>
  
        <div class="dashboard-section">
          <h2>Outstanding</h2>
          <p-chart type="line" [data]="outstandingData"></p-chart>
        </div>
  
        <div class="dashboard-section">
          <h2>Total Outstanding ₹ 0</h2>
          <p-chart type="bar" [data]="outstandingData"></p-chart>
        </div>
  
        <div class="dashboard-section">
          <h2>Repayments</h2>
          <p-chart type="pie" [data]="repaymentData"></p-chart>
        </div>
  
        <div class="dashboard-section">
          <h2>Total Paid ₹ 0</h2>
          <p-chart type="radar" [data]="totalPaidData"></p-chart>
        </div>
      </div>
    </div>
  </div>
  
  
   -->